/* src/styles/globals.css */
.overflow {
  overflow: hidden;
}

.overflow .card-img-top {
  transition: all 0.2s ease-in-out; /* Suaviza la transición de escala */
  height: auto;
}

.overflow .card-img-top:hover {
  transform: scale(1.2); /* Ajusta el nivel de escala */
}


