/* src/styles/globals.css */
.overflow {
  overflow: hidden;
}

.overflow .card-img-top {
  transition: all 0.2s ease-in-out; /* Suaviza la transición de escala */
}

.overflow .card-img-top:hover {
  transform: scale(1.2); /* Ajusta el nivel de escala */
}

img {
  height: auto;
  object-fit: cover;
  width: 135px;
}

/* Estilo para cambiar el color de los links al pasar el mouse y el cursor */
.nav-link:hover {
  color: black !important; /* Cambia el color del texto a negro */
  cursor: pointer; /* Cambia el cursor a estilo de botón */
}



